<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>FB Confidence Pool</title>
<link rel="stylesheet" type="text/css" href="resources/styles.css">
</head>

<body>
<h1>FB Confidence Pool Password Reset</h1>

<div class="floating">
 <form method="post" action="/Reset?token={{.Token}}">
    <p>Email addr: {{.Email}}</p>
    <br>
    <label for="password">Password&nbsp;&nbsp;</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="password2">Password&nbsp;&nbsp;</label>
    <input type="password" id="password2" name="password2">
    <br>
    <button type="submit">Submit</button>
 </form>
</div>

</body>
</html>