<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FB Confidence Pool</title>
<link rel="stylesheet" type="text/css" href="../../resources/styles.css">
<script type="text/javascript" src="../../resources/sorttable.js?version=2"></script>
</head>

<body>
<h1>FB Confidence Pool</h1>


<ul class="menu_strip">
  <li class="menu_li"><a href="/user">Home</a></li>
  <li class="menu_li"><a href="/profile">Profile</a></li>
  <li class="menu_li_active">Week {{$.UWeek}}</li>
  <li class="menu_li" style="float:right"><a href="/logout">Logout</a></li>
  <li class="menu_li_login">Hi {{.User}}</li>
</ul>

<h2>Enter Picks and Confidence Level</h2>
<ul>
<li>Confidence levels must be unique</li>
<li>You can make a pick for a given game just before gametime</li>
</ul>

<p>NFL Week {{$.UWeek}}</p>

<p><a href=../selectDnD/{{$.Week}}>Drag N Drop form</a></p>

<form action="/save/{{$.Week}}" method="POST">
<div><input type="submit" value="Save"></div>
<table class="sortable">

  <tr>
   <th>Game Status</th>
   <th>Confidence</th>
   <th class="sorttable_nosort">Teams</th>
  </tr>

  {{range $index, $game := .Games}}
  <tr>
   <td>{{$game.Status}}</td>
   <td><input type="number" name="confidence{{$game.TeamV}}" min="1" max="{{$.NumGames}}" value={{$game.Confidence}}></td>
   <td><input type="radio" name="{{$game.TeamV}}" value="away" {{$game.CheckedV}}>{{$game.TeamV}} vs 
       <input type="radio" name="{{$game.TeamV}}" value="home" {{$game.CheckedH}}>{{$game.TeamH}}</td>
  </tr>
  {{end}}

</table>

<div><input type="submit" value="Save"></div>
</form> 

<div class="floating">
 <table class="sortable">
  <caption>Games Started/Finished</caption>
  <tr> <th>Visitor</th> <th>Home</th> <th>Pick</th> <th>Confidence</th> <th>Status</th> <th>Score</th> </tr>
  {{range $index, $row := .Started}}
  <tr> <td>{{$row.TeamV}}</td> <td>{{$row.TeamH}}</td>  <td>{{$row.TeamSel}}</td> <td>{{$row.Confidence}}</td> <td>{{$row.Status}}</td> <td>{{$row.ScoreV}} to {{$row.ScoreH}}</td> </tr>  
  {{end}}
 </table>
</div>

</body>
</html>
