<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FB Confidence Pool</title>
<link rel="stylesheet" type="text/css" href="../../resources/styles.css">
<script type="text/javascript" src="../../resources/sorttable.js?version=2"></script>
</head>

<body>
<h1>FB Confidence Pool</h1>


<ul class="menu_strip">
  <li class="menu_li"><a href="/user">Home</a></li>
  <li class="menu_li"><a href="/profile">Profile</a></li>
  <li class="menu_li_active">Week {{$.UWeek}}</li>
  <li class="menu_li" style="float:right"><a href="/logout">Logout</a></li>
  <li class="menu_li_login">Hi {{.User}}</li>
</ul>

<h2>Enter Picks and Confidence Level</h2>
<ul>
<li>Select winner of each game</li>
<li>Drag and drop rows up or down to change confidence levels</li>
</ul>

<p>NFL Week {{$.UWeek}}</p>

<p><a href=../selectDnD/{{$.Week}}>Drag N Drop form</a></p>
<p><a href=../select/{{$.Week}}>Old Style Picks form</a></p>

<form action="/save/{{$.Week}}" method="POST">
<div><input type="submit" value="Save"></div>
<table class="sortable" id="selectTable">

  <tr>
   <th>Confidence</th>
   <th class="sorttable_nosort">Game Status</th>
   <th class="sorttable_nosort">Teams</th>
  </tr>

  {{range $index, $game := .Games}}
  <tr class="draggable">
   <td><input type="number" name="confidence{{$game.TeamV}}" value={{$game.Confidence}} style="width: 3em" readonly></td>
   <td>{{$game.Status}}</td>
   <td><input type="radio" name="{{$game.TeamV}}" value="away" {{$game.CheckedV}}>
        <img src="../../resources/logos/{{$game.TeamLogoV}}" alt="{{$game.TeamV}}">
       <input type="radio" name="{{$game.TeamV}}" value="home" {{$game.CheckedH}}>
        <img src="../../resources/logos/{{$game.TeamLogoH}}" alt="{{$game.TeamH}}">
   </td>
  </tr>
  {{end}}

</table>

<div><input type="submit" value="Save"></div>
</form> 

<div class="floating">
 <table class="sortable">
  <caption>Games Started/Finished</caption>
  <tr> <th>Visitor</th> <th>Home</th> <th>Pick</th> <th>Confidence</th> <th>Status</th> <th>Score</th> </tr>
  {{range $index, $row := .Started}}
  <tr> <td>{{$row.TeamV}}</td> <td>{{$row.TeamH}}</td>  <td>{{$row.TeamSel}}</td> <td>{{$row.Confidence}}</td> <td>{{$row.Status}}</td> <td>{{$row.ScoreV}} to {{$row.ScoreH}}</td> </tr>  
  {{end}}
 </table>
</div>

<script type="text/javascript" src="../../resources/dragNDrop.js?version=1">
</script>

</body>
</html>
